<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Get into our site <%= @url %> and check the new uploaded album <%= @album.name %>.
    </p>
  </body>
</html>
