<h1>Editing User Follow Playlist</h1>

<%= render 'form', user_follow_playlist: @user_follow_playlist %>

<%= link_to 'Show', @user_follow_playlist %> |
<%= link_to 'Back', user_follow_playlists_path %>
